<style>
@charset "utf-8";
/***********************************************/
/* HTML tag styles                             */
/***********************************************/
body{
	background-color:#424242;
	margin:0;
	font-family: '微軟正黑體', sans-serif,serif;
}
html{
	font-family: '微軟正黑體', sans-serif,serif;
	font-size:14px;
}
input{
	height:25px;
	border-radius:5px;
	border:1px solid #aaaaaa;
}

input[type=text]{
	border-width:0px;
	border-bottom:1px #AAAAAA solid;
	outline-style: none ;
	border-radius:0px;
	background-color:transparent;
}
input[readonly]{ 
    background-color: #CDEDFF;    
}
textarea{
	border-radius:5px;
	border:1px solid #aaaaaa;
}
select{
	height:30px;
	border-radius:5px;
	border:1px solid #aaaaaa;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
#showLoginDiv{
	position: absolute;
	width:400px;
	height:300px;
	top:0;
	right:0;
	bottom:0;
    left:0;
    margin:auto;
	border-radius:10px;
	border: 1px #65a0cd solid;
	background-color:rgba(255,255,255,0.4);
}

span:link {
  color: red;
}

/* visited link */

span:visited {
  color: green;
}

/* mouse over link */

span:hover {
  color: hotpink;
}

/* selected link */

span:active {
  color: blue;
}


.orange{
	color:orange;
}
.blue{
	color:#0066ff;
}
.red{
	color:red;
}
.red_d{
	color:#dd0000;
}
/*start 字體大小*/
.f12{
	font-size:12px;
}
.f13{
	font-size:13px;
}
.f14{
	font-size:14px;
}
.f15{
	font-size:15px;
}
.f16{
	font-size:16px;
}
.f17{
	font-size:17px;
}
.f18{
	font-size:18px;
}
.f20{
	font-size:20px;
}
/*end 字體大小*/
/*strat 按鈕樣式*/
.btn_pink{
	border:1px #A5545C solid;
	margin:5px;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:1em;
	vertical-align:middle;
	background-color:#A5545C;
	color:#F3E4E7;
	border-radius:10px;
	cursor:pointer;
	padding:1px 10px;
	letter-spacing:2px;
}
.btn_green{
	border:1px #009f0b solid;
	margin:5px;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:1em;
	vertical-align:middle;
	background-color:#009f0b;
	color:#ffffff;
	border-radius:10px;
	cursor:pointer;
	padding:1px 10px;
	letter-spacing:2px;
	
}
.btn_purple_l{
	border:1px #DAB1D5 solid;
	margin:5px;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:1em;
	vertical-align:middle;
	background-color:#DAB1D5;
	color:#ffffff;
	border-radius:10px;
	cursor:pointer;
	padding:1px 10px;
	letter-spacing:2px;
}

.btn_blue{
	border:1px #BFCAD7 solid;
	margin:5px;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:1em;
	vertical-align:middle;
	background-color:#BFCAD7;
	color:#F3E4E7;
	border-radius:10px;
	cursor:pointer;
	padding:1px 10px;
	letter-spacing:2px;
}
.btn_red{
	border:1px #F50000 solid;
	margin:5px;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:1em;
	vertical-align:middle;
	background-color:#F50000;
	color:#ffffff;
	border-radius:10px;
	cursor:pointer;
	padding:1px 10px;
	letter-spacing:2px;
}
/*end 按鈕樣式*/

.menuList{
	color:#666666;/*#E9CCCD;*/
}
.menuList:hover{
	/*font-weight:bold;*/
	color:#E9CCCD;/*#A5545C;*/
}
/*start 表格樣式*/
.tableShowMore{
	border-top:0px #cccccc solid;
	border-left:0px #cccccc solid;
	background-color:#FFFFFF;
	border-radius:5px;
}
.tableShowMore thead{
	background-color:#CD939D;
	color:#F3E4E7;
}

.tableShowMore tr:nth-child(even) {
	background: #E9CCCD
}
.tableShowMore thead tr td:first-child{
	border-radius:3px 0px 0px 0px;
}
.tableShowMore thead tr td:last-child{
	border-radius:0px 3px 0px 0px;
} 
.tableShowMore td:first-child{
	border-radius:0px 0px 0px 3px;
} 
.tableShowMore td:last-child{
	border-radius:0px 0px 3px 0px;
} 

.tableShowMore td{
	border-bottom:0px #cccccc solid;
	border-right:0px #cccccc solid;
}
.tableShowOne{
	border-top:0px #cccccc solid;
	border-left:0px #cccccc solid;
	background-color:#E9CCCD;
}
.tableShowOne input{
	border-radius:5px;
	background-color:#CD939D;
}
.tableShowOne thead{
	/*background-color:#8e8e8e;*/
	color:#CD939D;
}
.tableShowOne td{
	border-bottom:0px #cccccc solid;
	border-right:0px #cccccc solid;
}

.material-symbols-outlined {
  cursor:pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.preview {
  background:#888888;
  width:4000px;
  height:auto;
  text-align:center;
  border:#FFFFFF 5px dotted; 
}
.preview img{
  height:320px;
  order:1;
  vertical-align : middle;
}
/*end 表格樣式*/
</style>